body {
  font-family: Arial;
  margin: 0;
  background-color: #F5F5F5;
  font-size: 12px;
}
a {
  text-decoration: none;
}
.content {
  max-width: 1088px;
  margin: 0 auto;
}
.clear {
  clear: both;
}
