header {
  background-color: #0F1626;
  padding: 8px 0;
  position: relative;
}
header .nav-cta {
  width: 50px;
  position: absolute;
  left: 10px;
}
header .logo {
  width: 160px;
  margin: 0 auto;
}
header .logo img {
  width: 100%;
}
header .donate-cta {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 1em;
  background-color: #FF533D;
  color: #fff;
  border: 0;
  border-radius: 4px;
  padding: 4px 10px;
}
