@import (reference) 'vars.less';

header{
  background-color:@color-header-bg;
  padding:8px 0;
  position:relative;

  .nav-cta{
    width:50px;
    position: absolute;
    left:10px;
  }

  .logo{

    width:160px;
    margin:0 auto;

    img{
      width:100%;
    }
  }

  .donate-cta{
    position: absolute;
    right:20px;
    top:20px;
    font-size:1em;

    background-color:@color-donate-bg;
    color:#fff;


    border:0;
    border-radius: 4px;
    padding:4px 10px;
  }
}
