body{
  margin:0;
}

.holding-page{

  .splash-img{

    padding-top: 80px;

    img{
      max-width: 100%;
    }
  }

  .social-links{

    padding-top:60px;

    ul{
      padding:0;
      width:80%;
      margin:0 auto;

      li{
        list-style: none;
        display: inline-block;
        width:50%;
        text-align: center;
      }
    }
  }

}
