body {
  height: 10000px;
}
.home-banner {
  background-image: url(../images/banner.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.home-banner .inner {
  background-color: rgba(255, 83, 61, 0.5);
  padding: 5px 0;
}
.home-banner .inner .text-countdown {
  background-color: rgba(255, 83, 61, 0.5);
  color: #fff;
  width: 80%;
  margin: 0 auto;
  padding: 10px 0;
}
.home-banner .inner .text-countdown .text {
  display: inline-block;
  padding: 0 20px;
  font-family: 'Titillium Web', sans-serif;
  font-size: 2em;
  line-height: 26px;
  text-align: right;
  width: 20%;
}
.home-banner .inner .text-countdown .text strong {
  display: block;
}
.home-banner .inner .text-countdown .countdown {
  display: inline-block;
  border-left: 1px solid #fff;
  padding-left: 20px;
  width: 70%;
  text-align: center;
}
.home-banner .inner .text-countdown .countdown ul {
  margin: 0;
}
.home-banner .inner .text-countdown .countdown ul li {
  list-style-type: none;
  display: inline-block;
  width: 25%;
}
.home-banner .inner .text-countdown .countdown ul li .counter {
  font-size: 5em;
  font-family: 'Titillium Web', sans-serif;
}
@media only screen and (max-width: 768px) {
  .home-banner .inner .text-countdown .text,
  .home-banner .inner .text-countdown .countdown {
    display: block;
    width: 100%;
  }
  .home-banner .inner .text-countdown .text {
    text-align: center;
  }
  .home-banner .inner .text-countdown .text strong {
    display: inline;
  }
  .home-banner .inner .text-countdown .countdown {
    border: 0;
    padding: 0;
  }
}
