@import (reference) "vars.less";

.grid{
  margin:0;
  padding:0;

  .grid-item{
    list-style-type: none;
    margin-top:10px;
    width: 33%;
    padding:5px;
    background:red;
    display: inline-block;
  }

}
