@import (reference) "vars.less";

.grid{
  margin:0;
  padding:0;

  .grid-item,
  .grid-sizer{
    width: 33%;
    list-style-type: none;
    display: inline-block;
  }

  .grid-item{
    .item{
      margin:5px;
      padding:5px;
      background:red;
      margin-top:10px;
    }
  }

}
