<!-- Intro -->
<section id="intro" class="container">
    <div class="row">
        <div class="4u 12u(mobile)">
            <section class="first">
                <i class="icon featured fa-road"></i>
                <header>
                    <h2>John O'Groats to Lands End</h2>
                </header>
                <p>Nisl amet dolor sit ipsum veroeros sed blandit consequat veroeros et magna tempus.</p>
            </section>
        </div>
        <div class="4u 12u(mobile)">
            <section class="middle">
                <i class="icon featured alt fa-calendar"></i>
                <header>
                    <h2>7th August 2018</h2>
                </header>
                <p>Nisl amet dolor sit ipsum veroeros sed blandit consequat veroeros et magna tempus.</p>
            </section>
        </div>
        <div class="4u 12u(mobile)">
            <section class="last">
                <i class="icon featured alt2 fa-heart"></i>
                <header>
                    <h2>Myton Hospice</h2>
                </header>
                <p>Nisl amet dolor sit ipsum veroeros sed blandit consequat veroeros et magna tempus.</p>
            </section>
        </div>
    </div>
    <footer>
        <ul class="actions">
            <li><a href="http://www.virginmoneygiving.com/boardingendtoend" class="button big">Donate</a></li>
            <li><a href="https://www.facebook.com/boardingendtoend" class="button alt big">Learn More</a></li>
        </ul>
    </footer>
</section>